<% @company = company || Company.new %>
<form class="large-text" action="/update?cmd=add_company" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <% if @company.persisted? %>
    <input type="hidden" name="id" value="<%= @company.id%>">
  <% end %>
  <input type="text" name="name" value="<%= @company.name %>" placeholder="name"> <br>
  <input type="text" name="desc" value="<%= @company.desc %>" placeholder="description"> <br>
  <input type="text" name="jobs" value="<%= @company.jobs %>" placeholder="jobs"> <br>
  <input type="text" name="applied" value="<%= @company.applied %>" placeholder="applied">  <br>
  <input type="text" name="rejected" value="<%= @company.rejected %>" placeholder="rejected"> <br>
  <input type="text" name="skip" value="<%= @company.skip %>" placeholder="skip"> <br>
  <input type="text" name="todo" value="<%= @company.todo %>" placeholder="todo"> <br>
  <input type="text" name="category" value="<%= @company.category %>" placeholder="category"> <br>
  <input type="submit" value="add company">
</form>
