<div id="navbarFirstRow" class="pseudobutton navbarRow">
  <div class="inline-block"><a class="button" href="/">root</a></div>
  <div class="inline-block"><%= render "autoscroll_button" %></div>
  <div class="inline-block"><%= render "category_toggler_button" %></div>
  <div class="inline-block"><%= render "import_from_yaml_button" %></div>
</div>

<div id="navbarSecondRow" class="pseudobutton navbarRow">
  <div class="bordered inline-block"><%= render "import_from_remoteok_button" %></div> <br>
  <div class="bordered inline-block"><%= render "import_from_stackoverflow_button" %></div> <br>
  <div class="bordered inline-block"><%= render "import_from_indeed_button" %></div>
</div>
