<div class="row">
  <a href="/?id=<%= previous_id %>">
    <span class="button">Previous company: <%= previous_name %> (<%= page_name %>)</span>
  </a>
</div>

<div class="row">
  <a href="/?id=<%= next_id %>">
    <span class="button">Next company: <%= next_name %> (<%= page_name %>)</span>
  </a>
</div>
