<div class="row">
    <div class="col-xs-12">
      <a href="/?id=<%= previous_id %>"><span class="button">Previous company: <%= previous_name %> (<%= page_name %>)</span></a> <br>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <a href="/?id=<%= next_id %>"><span class="button">Next company: <%= next_name %> (<%= page_name %>)</span></a> <br>
    </div>
  </div>
  <br>
