<br>
<br>

<!--  -->
<!-- Top Menu (Nav Links) -->
<!--  -->

<div class="row">
  <div class="col-xs-12">
    <a href="/">root</a>
  </div>
</div>
<div class="row">
    <div class="col-xs-12">
      <% if session["only_todos"] %>
        Showing todos | <a href="/?filter=not_only_todos">Show blanks</a> | <a href="/?filter=most_recent_skips">Show skips</a>
      <% else %>
        <% if session["most_recent_skips"] %>
          Showing skips (<a href="/?filter=most_recent_skips&most_recent_skip_count=<%= @most_recent_skip_count %>">index</a>) | <a href="/?filter=only_todos">Show todos</a> | 
          <a href="/?filter=not_only_todos">Show blanks</a>
        <% else %>
          Showing blanks | <a href="/?filter=only_todos">Show todos</a> | <a href="/?filter=most_recent_skips">Show skips</a>
        <% end %>
      <% end %>
    </div>
</div>

<hr>

<!--  -->
<!--  -->

<% if @most_recent_skips %>

<!--  -->
<!-- Companies List View -->
<!--  -->

<form action="/" method="GET">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="filter" value="most_recent_skips">
  <input type="number" name="most_recent_skip_count" placeholder="number" value="<%= @most_recent_skip_count || 5 %>">
  <input type="submit" value="change number">
</form>

  <% @most_recent_skips.each do |company| %>
    <pre class="company">
      <a href="/?id=<%= company.id %>"><%= raw company.attributes.ai(html: true).html_safe %></a>
      <%#= raw company.attributes.ai(html: true).html_safe %>
    </pre>
  <% end %>

<!--  -->
<!--  -->

<% elsif @company %>

<!--  -->
<!-- Company Show View -->
<!--  -->

  <% if session["only_todos"] %>
    <% companies_query = Company.todo %>
  <% elsif session["most_recent_skips"] %>
    <% companies_query = Company.skipped %>
  <% else %>
    <% companies_query = Company.blank %>
  <% end %>

  <div class="row">
    <div class="col-xs-6">
      <%= @percentage_completed %> completed <br>
      <%= @todos_count %> todos <br>
      <%= @application_count %> applied <br>
      <%= @skipped_count %> skipped
    </div>
    <div class="col-xs-6">
      <br>
      <br>
      <br>
      remaining: <%= Company.blank.count %>
    </div>
  </div><br>
  
  <div class="row">
    <div class="col-xs-12">
      <a href="/?id=<%= companies_query.where("id < ?", @company.id).first&.id || companies_query.order(id: :desc).first&.id %>"><span class="large-text">Previous company</span></a> <br>      
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <a href="/?id=<%= companies_query.where("id > ?", @company.id).first&.id || companies_query.first&.id %>"><span class="large-text">Next company</span></a> <br>
    </div>
  </div>
  <br>

  <div class="row">
    <pre class="company">
      <%= raw @company.attributes.ai(html: true).html_safe %>
    </pre>
  </div>  
  <br>



<div class="row">
  <div class="col-xs-3">
    <form method="POST" action="/update?id=<%= @company.id %>&cmd=quick_skip">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="next_id" value=<%= companies_query.where("id > ?", @company.id).first&.id || companies_query.first&.id %>>
      <input type="submit" value="quick skip">
    </form>
  </div>
  <div class="col-xs-3">
    <form method="POST" action="/update?id=<%= @company.id %>&cmd=quick_apply">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="next_id" value=<%= companies_query.where("id > ?", @company.id).first&.id || companies_query.first&.id %>>
      <input type="submit" value="quick apply">
    </form>
  </div>
  <div class="col-xs-3">
    <form method="POST" action="/update?id=<%= @company.id %>&cmd=quick_todo">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="next_id" value=<%= companies_query.where("id > ?", @company.id).first&.id || companies_query.first&.id %>>
      <input type="submit" value="quick todo">
    </form>
  </div>
  <div class="col-xs-3">
    <form method="POST" action="/update?id=<%= @company.id %>&cmd=quick_rejected">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="next_id" value=<%= companies_query.where("id > ?", @company.id).first&.id || companies_query.first&.id %>>
      <input type="submit" value="quick rejected">
    </form>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-xs-12">
    <form method="POST" action="/update?id=<%= @company.id %>&cmd=skip_with_note">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="text" name="update_value">
      <input type="submit" value="skip with note">
    </form> <br>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <form method="POST" action="/update?id=<%= @company.id %>&cmd=apply_with_note">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="text" name="update_value">
      <input type="submit" value="apply with note">
    </form> <br>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <form method="POST" action="/update?id=<%= @company.id %>&cmd=todo_with_note">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="text" name="update_value">
      <input type="submit" value="todo with note">
    </form> <br>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <form method="POST" action="/update?id=<%= @company.id %>&cmd=not_laughing">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="text" name="update_value">
      <input type="submit" value="not laughing">
    </form> <br>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <form method="POST" action="/update?id=<%= @company.id %>&cmd=undo_todo">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="submit" value="undo todo">
    </form> <br>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <form method="POST" action="/update?id=<%= @company.id %>&cmd=undo_skip">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="submit" value="undo skip">
    </form> <br>
  </div>
</div>



  
  
  



<% end %>


<br>
<br>
<br>
<br>
<br>
<br>