<br>
<br>

<!--  -->
<!-- Top Menu (Nav Links) -->
<!--  -->

<div class="row">
  <div class="col-xs-12">
    <a href="/">root</a>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <a href="/?all=true">
      All companies
    </a>
  </div>
</div>
<div class="row">
    <div class="col-xs-12">
      <% if session["only_todos"] %>
        <a href="/?filter=not_only_todos">don't only show todos</a>
      <% else %>
        <a href="/?filter=only_todos">only show todos</a>
      <% end %>
    </div>
</div>
<div class="row">  
  <div class="col-xs-12">
    <form action="/">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="all" value="true">
      <input type="submit" value="category search">
      <input type="text" name="category">
    </form>
  </div>
</div>

<hr>

<!--  -->
<!--  -->

<% if @companies %>

<!--  -->
<!-- Companies List View -->
<!--  -->

  <% @companies.each do |company| %>
    <pre class="company">
      <%= raw company.attributes.ai(html: true).html_safe %>
    </pre>
  <% end %>

<!--  -->
<!--  -->

<% elsif @company %>

<!--  -->
<!-- Company Show View -->
<!--  -->

  <% if session["only_todos"] %>
    <% companies_query = Company.todo %>
  <% else %>
    <% companies_query = Company.blank %>
  <% end %>

  <div class="row">
    <div class="col-xs-12">
      <%= @percentage_completed %> completed <br>
      <%= @todos_count %> todos
    </div>
  </div><br>
  
  <div class="row">
    <div class="col-xs-12">
      <a href="/?id=<%= companies_query.where("id < ?", @company.id).first&.id || companies_query.order(id: :desc).first&.id %>">Previous company</a> <br>      
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <a href="/?id=<%= companies_query.where("id > ?", @company.id).first&.id || companies_query.first&.id %>">Next company</a> <br>
    </div>
  </div>
  <br>

  <div class="row">
    <pre class="company">
      <%= raw @company.attributes.ai(html: true).html_safe %>
    </pre>
  </div>  
  <br>
<div class="row">
  <div class="col-xs-3">
    <form method="POST" action="/update?id=<%= @company.id %>&cmd=quick_skip">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="submit" value="quick skip">
    </form>
  </div>
  <div class="col-xs-3">
    <form method="POST" action="/update?id=<%= @company.id %>&cmd=quick_apply">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="submit" value="quick apply">
    </form>
  </div>
  <div class="col-xs-3">
    <form method="POST" action="/update?id=<%= @company.id %>&cmd=quick_todo">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="submit" value="quick todo">
    </form>
  </div>
  <div class="col-xs-3">
    <form method="POST" action="/update?id=<%= @company.id %>&cmd=quick_rejected">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="submit" value="quick rejected">
    </form>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-xs-12">
    <form method="POST" action="/update?id=<%= @company.id %>&cmd=skip_with_note">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="text" name="update_value">
      <input type="submit" value="skip with note">
    </form> <br>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <form method="POST" action="/update?id=<%= @company.id %>&cmd=apply_with_note">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="text" name="update_value">
      <input type="submit" value="apply with note">
    </form> <br>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <form method="POST" action="/update?id=<%= @company.id %>&cmd=todo_with_note">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="text" name="update_value">
      <input type="submit" value="todo with note">
    </form> <br>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <form method="POST" action="/update?id=<%= @company.id %>&cmd=not_laughing">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="text" name="update_value">
      <input type="submit" value="not laughing">
    </form> <br>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <form method="POST" action="/update?id=<%= @company.id %>&cmd=undo_todo">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="submit" value="undo todo">
    </form> <br>
  </div>
</div>



  
  
  



<% end %>


<br>
<br>
<br>
<br>
<br>
<br>