<br>
<br>

<!--  -->
<!-- Top Menu (Nav Links) -->
<!--  -->

<div class="row">
  <!-- <div class="col-xs-12"> -->
    <a class="button" href="/">root</a>
  <!-- </div> -->
</div>
<div class="row">
<!--     <div class="col-xs-12"> -->
      <% if session["only_todos"] %>
        <span class="pseudobutton button">
          Showing todos | <a href="/?filter=not_only_todos">Show blanks</a> | <a href="/?filter=most_recent_skips">Show skips</a> | <a href="/?filter=no_filter">No filter</a>
        </span>
      <% elsif session["no_filter"] %>
        <span class="pseudobutton button">
          Using no filter | <a href="/?filter=not_only_todos">Show blanks</a> | <a href="/?filter=most_recent_skips">Show skips</a> | <a href="/?filter=only_todos">Show todos</a>
        </span> 
      <% else %>
        <% if session["most_recent_skips"] %>
          <span class="pseudobutton button">
            Showing skips (<a href="/?filter=most_recent_skips&most_recent_skip_count=<%= @most_recent_skip_count %>">index</a>) | <a href="/?filter=only_todos">Show todos</a> | 
            <a href="/?filter=not_only_todos">Show blanks</a> |
            <a href="/?filter=no_filter">No filter</a>
          </span>
        <% else %>
          <span class="pseudobutton button">
            Showing blanks | <a href="/?filter=only_todos">Show todos</a> | <a href="/?filter=most_recent_skips">Show skips</a> | <a href="/?filter=no_filter">No filter</a>
          </span>
        <% end %>
      <% end %> 
      <br>
      <% if session[:autoscroll] %>
        <a class="button" href="/?autoscroll=off">Turn Autoscroll Off</a>
      <% else %>
        <a class="button" href="/?autoscroll=on">Turn Autoscroll On</a>
      <% end %> 
      <!-- <br> -->
      <a class="button" href="/?filter=new_company">Add Company</a> 
      <!-- <br> -->
      <a class="button" href="/category_toggler">toggle categories</a>
    <!-- </div> -->
</div>
<br>
  <div class="row">
    <div class="col-xs-12">
      <% stats_string = "<i>stats</i><br><div class='statistic'>#{@percentage_completed} completed</div><div class='statistic'>#{@todos_count} todos </div><div class='statistic'>#{@application_count} applied </div><div class='statistic'>#{@skipped_count} skipped </div><div class='statistic'>#{Company.blank.count} remaining </div>" %>
      <span id="stats">
        <%= raw stats_string.html_safe %>
      </span>
    </div>
      <br>
      <br>
      <br>
  </div><br>

<!-- 
<hr> -->

<% flash[:messages].each do |message| %>
  <pre class="flash-message">
    <%= message %>
  </pre>
<% end %>

<!--  -->
<!--  -->

<% if @most_recent_skips %>

<!--  -->
<!-- Companies List View -->
<!--  -->

<form action="/" method="GET">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="filter" value="most_recent_skips">
  <input class="large-text" type="number" name="most_recent_skip_count" placeholder="number" value="<%= @most_recent_skip_count || 5 %>">
  <input type="submit" value="# to show">
</form> <br> <br>

  <% @most_recent_skips.each do |company| %>
    <pre class="company">
      <a href="/?id=<%= company.id %>"><%= raw company.attributes.ai(html: true).html_safe %></a>
      <%#= raw company.attributes.ai(html: true).html_safe %>
    </pre>
  <% end %>

<!--  -->
<!--  -->

<% elsif @company && !@company.persisted? %>


<!--  -->
<!-- New Company -->
<!--  -->
  <form class="large-text" action="/update?cmd=add_company" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="text" name="name" value="<%= @company.name %>" placeholder="name"> <br>
    <input type="text" name="desc" value="<%= @company.description %>" placeholder="description"> <br>
    <input type="text" name="jobs" value="<%= @company.jobs %>" placeholder="jobs"> <br>
    <input type="text" name="applied" value="<%= @company.applied %>" placeholder="applied">  <br>
    <input type="text" name="rejected" value="<%= @company.rejected %>" placeholder="rejected"> <br>
    <input type="text" name="skip" value="<%= @company.skip %>" placeholder="skip"> <br>
    <input type="text" name="todo" value="<%= @company.todo %>" placeholder="todo"> <br>
    <input type="text" name="category" value="<%= @company.category %>" placeholder="category"> <br>
    <input type="submit" value="add company">
  </form>

<!--  -->
<!--  -->

<% else %>

<!--  -->
<!-- Company Show View -->
<!--  -->

  <% if session["only_todos"] %>
    <% companies_query = Company.todo %>
  <% elsif session["most_recent_skips"] %>
    <% companies_query = Company.skipped %>
  <% elsif session["no_filter"] %>
    <% companies_query = Company.all %>
  <% else %>
    <% companies_query = Company.blank %>
  <% end %>

  <div class="row">
    <div class="col-xs-12">
      <a href="/?id=<%= companies_query.where("id < ?", @company.id).last&.id || companies_query.order(id: :desc).first&.id %>"><span class="button">Previous company</span></a> <br>      
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <a href="/?id=<%= companies_query.where("id > ?", @company.id).first&.id || companies_query.first&.id %>"><span class="button">Next company</span></a> <br>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-xs-12">
      <pre class="company">
        <%= raw @company.attributes.ai(html: true).html_safe %>
      </pre> <br>
    </div>
  </div>
  <br>



<div class="row inline-forms">

      <% if @company.starred %>
        <form action="/update" method="POST" >
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <input type="hidden" name="id" value="<%= @company.id %>">
          <input type="hidden" name="cmd" value="unstar">
          <input type="submit" value="unstar">
        </form>
      <% else %>
        <form action="/update" method="POST" >
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <input type="hidden" name="id" value="<%= @company.id %>">
          <input type="hidden" name="cmd" value="star">
          <input type="submit" value="star">
        </form>
      <% end %>

  <!-- <div class="col-xs-3"> -->
    <form method="POST" action="/update?id=<%= @company.id %>&cmd=quick_skip">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="next_id" value=<%= companies_query.where("id > ?", @company.id).first&.id || companies_query.first&.id %>>
      <input type="submit" value="quick skip">
    </form>
  <!-- </div> -->
  <!-- <div class="col-xs-3"> -->
    <form method="POST" action="/update?id=<%= @company.id %>&cmd=quick_apply">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="next_id" value=<%= companies_query.where("id > ?", @company.id).first&.id || companies_query.first&.id %>>
      <input type="submit" value="quick apply">
    </form>
  <!-- </div> -->
  <!-- <div class="col-xs-3"> -->
    <form method="POST" action="/update?id=<%= @company.id %>&cmd=quick_todo">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="next_id" value=<%= companies_query.where("id > ?", @company.id).first&.id || companies_query.first&.id %>>
      <input type="submit" value="quick todo">
    </form>
  <!-- </div> -->
  <!-- <div class="col-xs-3"> -->
    <form method="POST" action="/update?id=<%= @company.id %>&cmd=quick_rejected">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="next_id" value=<%= companies_query.where("id > ?", @company.id).first&.id || companies_query.first&.id %>>
      <input type="submit" value="quick rejected">
    </form>
  <!-- </div> -->
</div>

<hr>

<div class="row">
  <div class="col-xs-12">
    <form class="form-with-box" method="POST" action="/update?id=<%= @company.id %>&cmd=skip_with_note">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input class="large-text" type="text" name="update_value">
      <input type="submit" value="skip with note">
    </form> <br>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <form class="form-with-box" method="POST" action="/update?id=<%= @company.id %>&cmd=apply_with_note">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input class="large-text" type="text" name="update_value">
      <input type="submit" value="apply with note">
    </form> <br>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <form class="form-with-box" method="POST" action="/update?id=<%= @company.id %>&cmd=todo_with_note">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input  class="large-text" type="text" name="update_value">
      <input type="submit" value="todo with note">
    </form> <br>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <form class="form-with-box" method="POST" action="/update?id=<%= @company.id %>&cmd=not_laughing">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input  class="large-text" type="text" name="update_value">
      <input type="submit" value="not laughing">
    </form> <br>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <form class="form-with-box" method="POST" action="/update?id=<%= @company.id %>&cmd=set_category">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input  class="large-text" type="text" name="update_value">
      <input type="submit" value="set category">
    </form> <br>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <form method="POST" action="/update?id=<%= @company.id %>&cmd=undo_todo">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="submit" value="undo todo">
    </form> <br>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <form method="POST" action="/update?id=<%= @company.id %>&cmd=undo_skip">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="submit" value="undo skip">
    </form> <br>
  </div>
</div>



  
  
  



<% end %>


<br>
<br>
<br>
<br>
<br>
<br>

<script>
<% if session[:autoscroll] %>
  $( document ).on('turbolinks:load', function() {
    $('body').scrollTo('.large-text');
  })
<% end %>
</script>